* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
}

.blackbg{
    margin:  0 auto;
    background-color: black;
}

.whitebg{
    margin: 0 auto;
    background-color: white;
    max-width: 410px;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1%;
}

.parent{
    outline-style: groove;
    outline-color: rgb(170, 165, 165);
    padding-bottom: 1%;
    padding-left: 3%;
    padding-right: 3%;
    margin-top: 10%;
}

.title{
    margin-top: 2%;
    margin-bottom: 2%;
}

.fish{
    background-image: url(Clownfish1.jpg);
    width: 385px;
    height: 250px;
    margin-bottom: 5%;
}

.border{
    outline-style: groove;
    outline-color: rgb(170, 165, 165);
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 18%;
    padding-top: 5%;
}

.layer{
    font-style: italic;
    margin-bottom: 5%;
}

.list{

}

.bright{
    margin-top: 5%;
}
   