* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
}

.blackbg{
    margin:0 auto;
    /* background-color: black; */
    padding-left: 30%;
    padding-right: 32%;
    width: 30%;
}

.whitebg{
    margin: auto;
    background-color: white;
}

.parent{
    padding-top: 3%;
    padding-bottom: 55%;
    /* max-width: 400px; */
    /* width: 50%; */
    padding-left: 10%;
}

.title{
    margin-bottom: 3%;
}

.fish{
    background-image: url(clownfish.jpg);
    padding-top: 25px;
    padding-bottom: 35%;
    padding-left: 80%;  
    margin-bottom: 3%;
}

.border{

}

